include/
Lib/
Scripts/
newfoil*
from*/
polar*
keep/
Ui_module/__pycache__/
GUI_test*
__pycache__/
foil_keep/
foils/
trash/
dialog.ui
onepoint.ui
seq.ui
test*
xfoil_pypy_test.py
main_xfexe.py
main_xfexe_spline.py
mypool.py
fort.9
